.tweetBox{
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    scroll-padding-right: 10px;
}

.tweetBox > form {
    display: flex;
    flex-direction: column;
}

.tweetBox__input{
    display: flex;
    padding: 20px;
}

.tweetBox__input > input{
    flex:1;
    margin-left: 20px;
    font-size: 20px;
    border:none;
}